<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">NoteSharing</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" routerLink="note">Notes</a>
        <a class="nav-link active" routerLink="note/add">Add New Note</a>
        <a class="nav-link active" routerLink="myNotes">My Notes</a>
      </div>

      <ng-container *ngIf="!canActivate()">
        <div class="navbar-nav ms-auto navbar-blue">
          <a class="nav-link active" routerLink="login">Login</a>
          <a class="nav-link active" routerLink="signup">Register</a>
        </div>
      </ng-container>

      <ng-container *ngIf="canActivate()">
        <div class="navbar-nav mx">
          <a class="nav-link active">Hello, {{ fullName }}</a>
          <a class="nav-link active" routerLink="" (click)="logout()">Logout</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<lib-ng-toast></lib-ng-toast>
